p
  | Aplikaci zobrazení objednávek rozšíříme o autentizaci.
  br
  | Rozhraní je stejné jako v příkladu objednávek, ale jsou zde přidané požadavky na oprávnění.

p
  | Nepřihlášený uživatel nemá přístup k ničemu,
  br
  | Jsou zde dvě role #[strong ROLE_USER], #[strong ROLE_OPERATOR]

  ul
    li #[strong ROLE_USER] může zobrazit zdroje pomocí metody GET - #[strong /orders] a #[strong /orders/:id]
    li #[strong ROLE_OPERATOR] může vytvářet nový záznam, mazat a měnit stav stávajících

p Hlavním úkolem je oživit přihlášení a obohatit aplikaci o prvky rozdělující chování pro role

p Vždy když obnovíte stránku, dojde ke zrušení přihlášení, přejděte proto na titulní stranu.

p Pokud budete mazat záznamy, mažte, ty, které jste sami vytvořili, data sdílíte s ostatními.

h3 0. Vyzkoušejte přejít na záložku s objednávkami
ul
  li v consoli je vidět odpověď 401
  li na úvodní straně jsou tlačítka simulující přihlašovací formulář na úvodní straně
  li podívejte se co dělají (HomeCtrl - #[em controllers.js])

h3 1. Oživení přihlášení

h4 1.1 - odeslat přihlášení
ul
  li v #[strong authService] (#[em services.js]) v metodě login, odešlete postem přihlašovací údaje na adresu #[strong REST_URI + '/login']
  li jako reakci použijte funkce #[strong successLogin] a #[strong failedLogin]

solution
  :highlight-js
    return $http.post(REST_URI + "/login", credentials)
      .then(successLogin, failedLogin);

h4 1.2 - přidat token do defaultní hlavičky
ul
  li.task ve funkci #[strong successLogin] naplňte získaným tokenem (#[strong response.data.token]), hlavičku #[strong X-Auth-Token] v nastavení #[strong $http.defaults.headers.common]

solution
  :highlight-js
    $http.defaults.headers.common['X-Auth-Token'] = response.data.token;

h4 1.3 - odeslat zprávu login:loginSuccess

ul
  li.task odešlete pomocí $broadcast zprávu "login:loginSuccess"

solution
  :highlight-js
    $rootScope.$broadcast("login:loginSuccess");

ul
  li podívejte se, kdo ji přijímá a jak (#[em controllers.js]:HomeCtrl)

h3 2. Oživení odhlášení

h4 2.1 - odhlášení

ul
  li.task v direktivě #[strong authLogoutLink] zavolejte metodu authService (#[em directives.js])
  li podívejte se co metoda dělá

solution
  :highlight-js
    authService.logout()

h4 2.2 - reakce na zprávu login:loggedOut
ul
  li.task v sekci #[strong .run] (#[em app.js]) reagujte na příjem události #[strong login:loggedOut] přesměrováním na /

solution
  :highlight-js
    $rootScope.$on('login:loggedOut', function () {
      $location.path("/")
    });

h4 2.3 - použijte direktivu pro odhlášení

ul
  li.task direktivu přidejte na Logout tlačítko (#[em index.html])

solution
  :highlight-html
    <button auth-logout-link ...

ul
  li všimněte si při tom taky dalších direktiv #[strong auth-is-authenticated], #[strong auth-user-name]

h3 3. Vyzkoušejte

ul.task
  li přihlašte se napřed jako operátor,
  li vyzkoušejte přechod na výpis objednávek
  li vytvoření a smazání záznamu

  li odhlášení

  li přihlašte se jako uživatel
  li požadavek na smazání záznamu hlásí 403 v konzoli

h3 4. Kontrola rolí při přístupu na stránku
ul
  li.task zkuste na detailu nebo na vytváření obnovit stránku
  li stránka se sice zobrazí, ale v consoli se objeví #[strong 401], protože informace o přihlášení se ztratí


h4 4.x - uživatel musí mít roli x
ul
  li.task pro vynucení konkrétní role při startu controlleru použijte #[strong authService.mustHaveRole()] v #[em controllers.js]
  li v controllerech pro list a detail musí uživatel roli #[strong ROLE_USER]
  li v create controlleru - roli #[strong ROLE_OPERATOR]

solution
  :highlight-js
    authService.mustHaveRole("ROLE_OPERATOR");

    ...

    authService.mustHaveRole("ROLE_USER");

ul
  li.task vyzkoušejte znovu obnovení a přístup na vytvoření nového prvku pokud je přihlášen jen uživatel

h3 5. Kontrola rolí při zobrazení prvků na výpisu
h4 5.1 zobrazit pouze pro roli ROLE_OPERATOR

ul.task
  li V #[em orderList.html] zobrazte select se stavy zobrazte pouze pro roli #[strong ROLE_OPERATOR]
  li stejně tak tlačítko pro mazání
  li pro teď využijte #[strong authService], kterou má controller předanou do scope a metodu hasRole

solution

  :highlight-html
    <select ng-if="list.auth.hasRole('ROLE_OPERATOR')" ... >
    ...

  :highlight-html
    <a ng-if="list.auth.hasRole('ROLE_OPERATOR')"
       ng-click="list.removeOrder(order)" class="btn btn-danger">
       Odstranit</a>

h4 5.2 zobrazit text pouze pro uživatele, který nemá ROLE_OPERATOR
ul
  li.task pro uživatele, kteří nemají roli #[strong ROLE_OPERATOR] zobrazte pouze text

solution
  :highlight-html
    <span ng-if="!list.auth.hasRole('ROLE_OPERATOR')">{{list.statuses[order.status]}}</span>

h4 5.3 - zobrazení objednávek pro roli ROLE_USER
ul.task
  li podívejte se na direktivu #[strong auth-has-role] a použijte ji v menu (#[em index.html])
  li pro odkaz na objednávky #[strong /orders] role - #[strong ROLE_USER]

solution
  :highlight-html
    <ul auth-has-role="ROLE_USER" class="nav navbar-nav">

h4 5.4 - zobrazení tlačítka pro roli ROLE_OPERATOR
ul
  li.task pro odkaz na přidání - ROLE_OPERATOR

solution
  :highlight-html
    <span auth-has-role="ROLE_OPERATOR" class="navbar-form navbar-left">

h3 6. Vyzkoušejte, že se zobrazují pouze věci, dostupné pro roli uživatele.
