p V tomto cvičení si vyzkoušíte routování, vytvoříte routu pro seznam, která načítá data v controlleru a poté routu pro detail, která získává data ještě před svým zobrazením

h3 1. definujte routu pro OrderListController
ul.task
  li definujte routu pro #[strong OrderListController]
  li pokud je url #[strong /orders] použije se:
  li šablona #[strong orderList.html], controller #[strong OrderListController] as list

solution
  :highlight-js
    $routeProvider
      .when('/orders', {
        templateUrl: 'orderList.html',
        controller: 'OrderListController',
        controllerAs: 'list'
      })

h3 2. zajistěte přesměrování na seznam, i při zadání jiné adresy
ul.task
  li pokud adresa neodpovídá žádné z definovaných rout, přesměruje se na #[strong /orders]

solution
  :highlight-js
    $routeProvider
      ...
      .otherwise('/orders');

h3 3. definujte routu pro OrderDetailController
p Podívejte se na jaké url vedou odkazy na detail objednávky a vytvořte odpovídající routu

ul.task
  li vytvořte definiční objekt pro url ve tvaru #[strong /detail/:id]
  li šablona #[strong orderDetail.html], controller #[strong OrderDetailController] as #[strong detail]
  li v resolve načtěte data z #[strong REST_URI + '/orders/' + id] jako #[strong orderData]
  li id musíte vzít z aktuálních parametrů routy
  li nezapoměňte, že #[strong $http] vám v #[strong then] vrátí #[strong response], ale do controlleru potřebujete předat jen obsah odpovědi - tedy #[strong response.data]

hint Aktuální parametry routy získáte z #[strong $route.current.params.id]

solution
  :highlight-js
    $routeProvider
      .when('/detail/:id', {
        templateUrl: 'orderDetail.html',
        controller: 'OrderDetailController',
        controllerAs: 'detail',
        resolve: {
          orderData: function($http, $route, REST_URI) {
            return $http.get(REST_URI + '/orders/' + $route.current.params.id)
              .then(function(response) {
                return response.data;
              });
          }
        }
      })

ul
  li všimněte si rozdílu chování mezi detailem a seznamem

hint
  ul
    li pokud si controller závislost řeší sám, uvidíte probliknutí dat
    li když použijete resolve, controller se zobrazí až když jsou data načtená, čekáte déle, ale nevidíte probliknutí

h3 4. oživte na detailu odkaz zpět na seznam
ul
  li v #[em orderDetail.html] upravte obsah #[strong ng-href] tak aby směřoval na seznam
solution
  :highlight-html
    <a class="back" ng-href="#/orders/">Zpět na seznam</a>

h3 5. Extra - Spusťte test a ověřte, že vše funguje
p Pro tato cvičení jsou připraveny end to end testy. Pokud Vám funguje protraktor, spustíte je příkazem

snippet.
  npm run test-13-router-e2e

