h3 1. přidat filter uppercase

ul.task
  li přidejte filter #[strong uppercase] tam kde má být text velkým
solution
  :highlight-html
    <li>Velkým:                 {{filterCtrlinputText|uppercase}}</li>

h3 2. vytvořit vlastní filter reverse

p Pro vlastní filtr jsou připraveny testy. Spustíte je příkazem

snippet.
  npm run test-11-filter

ul
  li Měli by jste být schopni napsat celý filter proti testům bez pohledu do prohlížeče.
  li Výsledky se budou zobrazovat v konzoli, ale také zde v prohlížeči.
.warning Aby jste si byli jisti že je výsledek aktuální, je v pravém rohu zobrazen čas spuštění testů.


h4 2.1 - vraťte funkci
ul
  li filter je vlastně factory, která má vrátit funkci
  li.task vraťte funkci, měla by mít dva argumenty - #[strong input], #[strong prefix]

tests(todo="2.1")

solution
  :highlight-js
    function reverseFilter() {
      return function (input, prefix) {

      };
    });

h4 2.2 - otočte vrácený text

ul.task
  li vraťte otočený text #[strong input]
  li pokud je vstup nedefinován musí být vrácen prázdný řetězec

p
  strong Funkci pro otočení nemusíte psát, vypadá takto -

hint Nedefinovaný vstup ošetřete defaultní hodnotou parametru pomocí #[strong value = value || ""]

snippet
  :highlight-js
    input.split("").reverse().join("");

solution
  :highlight-js
    function reverseFilter() {
      return function (input, prefix) {
        input = input || "";

        var reversed = input.split("").reverse().join("");
        return reversed;
      };
    });

tests(todo="2.2")

h4 2.3 - aplikujte prefix
ul.task
  li nastavte defaultní hodnotu perexu na prázdný řetězec
  li přidejte prefix před otočený řetězec

solution
  :highlight-js
    function reverseFilter() {
      return function (input, prefix) {
        input = input || "";
        prefix = prefix || "";

        var reversed = input.split("").reverse().join("");
        return prefix + reversed;
      };
    });

tests(todo=2.3)
tests-results(title-only)

h3 3. použití vlastního filteru

h4 3.1 - použít filter reverse
ul
  li.task použijte filter #[strong reverse] bez parametrů

solution
  :highlight-html
    <li>Pozpátku:               {{filterCtrlinputText|reverse}}</li>

h4 3.2 - použít filter reverse v kombinaci s uppercase
ul.task
  li použíjte filter #[strong reverse] v kombinaci s #[strong uppercase]

solution
  :highlight-html
    <li>Pozpátku a velkým:      {{filterCtrlinputText|reverse|uppercase}}</li>

h4 3.3 - použít filter reverse s prefixem
ul.task
  li použít filter reverse spolu s nějakým hezkým prefixem, třeba *Le *

solution
  :highlight-html
    <li>Pozpátku a s prefixem:  {{filterCtrlinputText|reverse:"Le "}}</li>

h3 4. zformátujte datum ve výpisu ticketů
ul
  li jako formát datumu použijte - den. měsíc. rok
  li.task dokumentace : https://docs.angularjs.org/api/ng/filter/date

solution
  :highlight-html
    <td>{{todo.duedate| date:"d. M. yyyy"}}</td>

h3 5. Omezte výpis ticketů
h4 5.1a - filtrujte tickety podle stavu
ul
  li tickety můžete filterovat podle objektu #[strong search], který je inicializován v controlleru.
  li.task zobrazte jen otevřené tickety - status = 'open'

solution
  :highlight-js
    this.search = {
      status: 'open'
    };

h4 5.1b - filtrujte tickety podle stavu
ul.task
  li v šabloně filtrujte pomocí tohoto objektu


solution
  :highlight-html
    | filter : filterCtrl.search

h4 5.2 - filtrujte tickety podle jména
ul.task
  li rozšiřte filtrování podle jména zadaného v poli hledání - attribut #[strong owner]


solution
  :highlight-html
    Hledání podle vlastníka: <input type="text" ng-model="filterCtrl.search.owner" class="form-control"/>

h4 5.3 - seřaďte tickety
ul.task
  li seřaďte tickety podle atributu duedate

solution
  :highlight-html
    | orderBy: 'duedate'

h4 5.4 - omezte počet ticketů
ul.task
  li omezte počet ticketů ve výpisu na 5

solution
  :highlight-html
    | limitTo:5">
