p Vyzkoušíte si, jak Angular vyhodnocuje výrazy.

h3 1. Vyzkoušejte, funkčnost databindingu a aktualizace všech atributů
ul.task
  li Podívejte se na definici controlleru v #[em app.js] a použití v #[em index.html]

h3 2. V metodě getAge v kontrolleru odkomentujte console.log
ul.task
  li sledujte, kolikrát je metoda volána při změně jednotlivých atributů.
ul.task
  li vyzkoušejte změnu jména a poté změnu věku
  li proč je tomu tak? Vzpomeňte si na povídání o principu dirty checkingu

h3 3. Použijte one-time binding
ul.task
  li v #[em index.html] pro výpis jména a věku one-time binding, sledujte změnu chování

hint Přidejte k výrazu v šabloně prefix #[strong ::]
solution
  :highlight-html
    Jméno: {{::vm.user.name}}

h3 4. Sledujte změny yearOfBirth
h4 4.1 - napište watch sledující změnu yearOfBirth
ul.task
  li do controlleru #[strong UserController] přidejte na scope watch, který při změně #[strong yearOfBirth] zaloguje novou a starou hodnotu do console
  li expression bude vypadat stejně jako expression použitá v #[strong ng-model] v šabloně

hint Metoda #[strong $watch] má první parametr výraz odpovídající výrazu v šabloně a druhý funkci, která se při změně zavolá.
  br
  | Volaná funkce má dva parametry newValue, oldValue

solution
  :highlight-js
    $scope.$watch('vm.user.yearOfBirth', function(newValue, oldValue) {
      console.log('Year of birth has changed:', newValue, oldValue)
    });

h4 4.2 - přepište expression na funkci
ul.task
  li tato podoba expression pro watch není příliš dobrá, protože je závislá na pojmenování controlleru v šabloně.
  li vyměňte string s expression za funkci vracející #[strong this.user.yearOfBirth]

hint #[strong $watch] může jako první parametr místo výrazu dostat funkci, která je při kontrole změn volána. Nezapomeňte proto na #[strong bind(this)].

solution
  :highlight-js
    var getYearWatcher_ = function() {
      return this.user.yearOfBirth;
    }.bind(this);

    $scope.$watch(getYearWatcher, function(newValue, oldValue) {
      console.log('Year of birth has changed:', newValue, oldValue)
    });

h3 5 - Posílání zpráv
h4 5.1 - vyšlete zprávu yearOfBirth:changed
ul
  li při změně #[strong yearOfBirth] odešlete na #[strong $scope] zprávu #[strong yearOfBirth:changed]

hint Zprávy se odesílají metodou #[strong $scope.$broadcast].
solution
  :highlight-js
    $scope.$watch(getYearWatcher, function(newValue, oldValue) {
      console.log('Year of birth has changed:', newValue, oldValue)
      $scope.$broadcast("yearOfBirth:changed");
    });

h4 5.2 - poslouchejte zprávu yearOfBirth:changed
ul
  li v #[strong CountControlleru] tuto zprávu na #[strong $scope] poslouchete a navyšte #[strong this.count]

hint Pro registraci listeneru na zprávu se používá metoda #[strong $scope.$on].

solution
  :highlight-js
    $scope.$on("yearOfBirth:changed", function(event, data) {
      console.log("yearOfBirth:changed");
      this.count++;
    }.bind(this));

ul.task
  li zkontrolujte, že se změna #[strong yearOfBirth] projevuje navýšením čísla v gui

h3 6 - Posílání zpráv - $rootScope
ul.task
  li zpráva se přes #[strong $scope] šíří, od #[strong UserControlleru] k #[strong CountControlleru] protože jsou v hierarchii.
  li zkuste v šabloně přesunout blok s #[strong CountControllerem] vně bloku s #[strong UserControllerem]
  li podívejte se, že zpráva se už nepropaguje

h4 6.2 - odesílejte zprávu na $rootScope
ul.task
  li aby se propagovala i v tomto případě, posílejte ji místo na #[strong $scope] na na #[strong $rootScope]

solution
  :highlight-js
    $rootScope.$broadcast("yearOfBirth:changed");
