p Nyní si vyzkoušíte přepis factory calculator na provider a konfiguraci cen

h3 1. Ověřte, že projdou testy
ul
  li spusťe v terminálu

snippet.
  npm run test-07-di-provider

ul
  li Výsledky se budou zobrazovat v konzoli, ale také zde v prohlížeči.
.warning Aby jste si byli jisti že je výsledek aktuální, je v pravém rohu zobrazen čas spuštění testů.

tests-results

h3 2. Přepište calculator na provider

p. Služba calculator je v tomto příkladu napsána jako factory, všimněte si rozdílu proti předchozím příkladům. Ve výsledném objektu v di není rozdíl ale zjednoduší se Vám změna na provider.

ul
  li.task Přepište factory #[strong calculator] na provider
  li Testy by měly stále procházet

hint
  ul
    li stávající obsah factory bude vracen metodou #[strong $get] provideru
    li injektáž závislosti #[strong $log] musí zůstat na správném místě


solution
  :highlight-js
    .provider('calculator', calculator)

    ...

    function calculator() {

      this.$get = function ($log) {
        return {
          getPrice: function (product) {
            ...

h3 3. Rozšíření provideru o možnost konfigurace.
ul.task
  li přesunout definici proměnné #[strong pagePrice] do provideru nad definici metody #[strong getPrice(product)]
  li přidejte setter - #[strong setPagePrice(price)]

solution
 :highlight-js
    function calculator() {
      var pagePrice = 3;

      this.setPagePrice = function(price) {
        pagePrice = price;
      };

      this.$get = function ($log) {
        ...

h3 4. Konfigurace provideru v konfigurační fázi
ul.task
  li přidejte volání metody #[strong .config()] a volanou funkci
  li injektněte #[strong calculatorProvider]
  li nastavte page price na jinou cenu #[strong setPagePrice(4)]
  li v tuto chvíli testy přestanou fungovat

solution
  :highlight-js
    .config(function(calculatorProvider){
      calculatorProvider.setPagePrice(4);
    })

h3 5. Opravte testy

h4 5 - konfigurace provideru pro učely testu
ul.task
  li v testu v beforeEach zavolejte na skutetečném modulu #[strong diApp] metodu #[strong .config]
  li v této konfiguraci pak nastavte #[strong pagePrice] pro účely testu na hodnotu #[strong 3]

solution
  :highlight-js
    angular.module('diApp')
      .config(function(calculatorProvider) {
        calculatorProvider.setPagePrice(3);
    });

h3 6. Použití konstanty
ul.task
  li vytvořte konstantu #[strong PAGE_PRICE], obsahující cenu - #[strong 4]
  li injektněte konstantu konstantu do metody #[strong .config] a použíjte ji v setteru

solution
  :highlight-js
    .constant('PAGE_PRICE', 4)

    .config(function(calculatorProvider, PAGE_PRICE){
      calculatorProvider.setPagePrice(PAGE_PRICE);
    })

tests-results

h2 EXTRA

h3 7 - Přesuňte služby do samostatného modulu
ul.task
  li vytvořte modul #[strong diServices]
  li přesuňte do něj provider #[strong calculator]
  li přidejte jej jako závislost modulu #[strong diApp]

solution
  :highlight-js
    angular.module('diServices', [])
      .provider('calculator', calculator)

    angular.module('diApp', ['diServices'])
      ...

