p Vyzkoušejte si standardní direktivy Angularu pro ovlivňování view

h3 1. Podle výběru typu nemovitosti zobrazte div s odpovídajícími parametry
ul
  li podívejte se na formulář v #[em index.html] a na část zobrazující parametry pro dům a pro pozemek.
  li pro pozemek má být zobrazen forumulář s parametry pozemku
  li pro dům pak oba formuláře s parametry pozemku i parametry domu
  li komerční pozemek nemá mít zobrazen žádný z formulářů

ul
  li.task zobrazte příslušnou část formuláře v závislosti na výběru typu nemovitosti
  li.task kontrolujte hodnotu #[strong reality.type]
    ul
      li parametry pozemku zobrazte, pokud je hodnota #[strong ground] nebo #[strong house]
      li parametry domu zobrazte, pokud je hodnota #[strong house]

  li.task jednou použijte direktivu #[strong ng-show] a podruhé #[strong ng-if]

solution
  :highlight-html
    <div ng-show="reality.type === 'ground' || reality.type === 'house'">
    ...

    <div ng-if="reality.type === 'house'">
    ...

ul
  li.task podívejte se na rozdíl mezi #[strong ng-if] a #[strong ng-show] v devtools

h3 2. Oživení seznamu lokalit
ul
  li podívejte se do controlleru na strukturu pole #[strong localities]

h4 2.1 Iterujte přes pole

ul.task
  li použijte #[strong ng-repeat] na divu, který chcete opakovat
  li iterujte přes pole #[strong reality.localities] a prvek iterace pojmenujte #[strong locality]
  li vypište místo Jihomoravského kraje správné jméno

hint Pro opakování elementu se používá direktiva #[strong ng-repeat]

solution
  :highlight-html
      <div ng-repeat="locality in reality.localities" class="radio col-md-6">
        <label>
          <input type="radio" ng-model="reality.selectedLocality" name="locality"/>
          {{locality.name}}
        </label>
      </div>

h4 2.2 Oživte radio button
p Nyní již vidíte seznam lokalit, není ale žádná vybrána, přestože je model #[strong selectedLocality] naplněn.

ul
  li.task podívejte se, že je do modelu #[strong selectedLocalities] v controlleru přiřazen celý objekt
  li.task přidejte na radio button attribut #[strong ng-value], jako hodnotu použijte přímo objekt #[strong locality]
  li poté již bude předvybrán kraj vysočina

solution
  :highlight-html
    <input type="radio" ng-model="reality.selectedLocality" name="locality" ng-value="locality"/>


h3 3. Vložte copyright.html pomocí ng-include nakonec stránky
ul.task
  li použijte #[strong ng-include] jako atribut divu pro vložení souboru #[strong copyright.html]

hint Dejte pozor na apostrofy, pokud je předáván název šablony ve stringu, musíte napsat výraz ve tvaru #[strong src="'nazev-sablony'"]

solution
  :highlight-html
    <div class="small text-center" ng-include="'copyright.html'"></div>

h3 4. Vytvoření záložek v sekci informace
h4 4.1 - akce pro výběr tabu
ul.task
  li podívejte se na metody controlleru #[strong InfoCtrl] v #[em app.js]
  li doplňte tlačítka o událost na kliknutí #[strong ng-click],
  li využijte volání již definované funkce #[strong info.setActiveTab(<nazev>)]
  li jako název použijte #[strong about], #[strong reference], #[strong contacts]


solution
  :highlight-html
    <button type="button" ng-click="info.setActiveTab('about')" ... >
    <button type="button" ng-click="info.setActiveTab('reference')" ... >
    <button type="button" ng-click="info.setActiveTab('contacts')" ... >

h4 4.2 - zobrazení tabu
ul.task
  li použijte #[strong ng-switch] na div nadřazený budoucím záložkám, využijte metodu controlleru #[strong info.getActiveTab()]
  li #[strong ng-switch-when] pro jednotlivé divy záložek by měl odpovídat názvům použitým výše.

solution
  :highlight-html
    <div ng-switch="info.getActiveTab()">
      <div ng-switch-when="about">
      ...
      </div>
      <div ng-switch-when="reference">
      ...
      </div>
      <div ng-switch-when="contacts">
      ...
      </div>
    </div>

h3 5. Zvýraznění aktuálně vybraného tlačítka
ul.task
  li použijte #[strong ng-class] ve formátu {},
  li jako css třídu použijte #[strong active]
  li jako podmínku pak funkci #[strong info.isTabActive(<nazev>)]

solution
  :highlight-html
    <button type="button" ng-class="{active : info.isTabActive('about')}" ... >
    <button type="button" ng-class="{active : info.isTabActive('reference')}" ... >
    <button type="button" ng-class="{active : info.isTabActive('contacts')}" ... >

h2 EXTRA
h3 6. Přidání šablony do template cache
ul
  li pokud vnímáte bliknutí copyrightu přidaného pomocí ng-include
  li je to tím, že se provádí ajax požadavek pro stažení šablony
  li podívejte se v consoli, že je #[em copyright.html] načítán asynchronně

ul.task
  li použijte #[strong $templateCache] v sekci #[strong .run]
  li přidejte šablonu s klíčem #[strong copyright.html] a obsahem souboru
  li původní soubor můžete smazat
  li nyní již bude šablona načtená ihned

