<!DOCTYPE html>
<html ng-app="componentApp">
<head>
  <meta charset="utf-8">
  <title>10-component | Angular.cz</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="styles.css"/>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-cloak>
<div class="container col-md-offset-3 col-md-6" ng-controller="InfoController as info">
  <h2>Informace</h2>

  <div class="well">

    <tabset on-change="info.reportChange(header)">
      <tab header="O nás">
        Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských
        projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez
        zahraničního či úvěrového kapitálu.
      </tab>
      <tab header="Reference">
        <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a
          to v oblasti pronájmu bytů v majetku ČNB. </p>
      </tab>
      <tab header="Kontakty">
        V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve
        telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v
        podzemní garáži.
      </tab>
    </tabset>
  </div>
  <div class="well" ng-if="info.currentTabHeader">Vybraný tab: {{info.currentTabHeader}}</div>
</div>
</body>
</html>
