p Tato aplikace je modifikovanou variantou předchozího příkladu.

p Práva k API jsou nastavena tak, abychom mohli jednoduše vyzkoušet reakci na stav #[strong 401] a #[strong 403].
  ul
    li Nepřihlášený uživatel může objednávky vidět.
    li Přihlášený uživatel může objednávky zakládat a měnit stav.
    li Přihlášený operátor může objednávky také mazat.

p
  | Ovládací prvky jsou zobrazeny po celou dobu a přihlášení je nabídnuto až ve chvíli, kdy je potřeba uživatele autentizovat.
  br
  | Přihlašovací stránku zde tedy nahrazuje vyskakovací okno.

p Cílem příkladu je rozšířit aplikaci o transparentní přihlášení v případě potřeby a reagovat na odepření přístupu.


h3 1. Podívejte se na aplikaci a její chování v consoli
ul
  li můžete vidět objednávky a přejít na detail
  li v consoli se objeví #[strong 401], pokud se pokusíte objednávku změnit nebo smazat
  li na stránku Vytvoření uživatele se dostanete, #[strong 401] se objeví až při pokusu o uložení.

h3 2. Implementace zobrazení modálního okna
ul.task
  li v #[em app.js] se podívejte kde je definovaný a použitý interceptor #[strong authInterceptor]
  li podívejte se jak se zpracovává chyba když je a když není zotavitelná

h4 2.1 nastavte správný HTTP status Unauthorized
ul
  li HTTP status #[strong Unauthorized] je zotavitelný, nastavte správné číslo stavu - #[strong 401]

solution
  :highlight-js
    function isRecoverable(response) {
      var unauthorizedStatus = 401;
      return response.status === unauthorizedStatus && !isLoginPage(response);
    }

ul.task
  li prohlédněte si metody a implementaci modálního okna #[strong authModal] v service.js
  li podívejte se také na jeho controller #[strong AuthController] a šablony

h4 2.2 zobrazte modální okno
ul.task
  li pokud je možné se z chyby zotavit, zobrazte pomocí vhodné metody služby #[strong authModal] modální okno
  li metoda vrací promise, nezapomeňte výsledek také vrátit

solution
  :highlight-js
    if (isRecoverable(response)) {
      return authModal.showLoginModal();
    }

ul.task
  li vyzkoušejte, že při pokusu o změnu stavu dojde k zobrazení přihlašovacího okna

ul
  li při zadání špatného hesla dojde k zobrazení chybové hlášky
  li.task podívejte se v #[strong authInterceptoru](#[em app.js]) a #[strong AuthControlleru](#[em controllers.js]) jak k tomu dochází.

ul
  li modální okno už nyní umožní se přihlásit, ale neprovedený požadavek ještě není opakován

h3 3.Opakováné odeslání požadavku
ul.task
  li v případě že promise modálního okna dopadne dobře, zopakujte požadavek pomocí volání #[strong $http]
  li objekt konfigurace pro volání je uložen v #[strong response.config], výsledek nezapomeňte vrátit

solution
  :highlight-js
    return authModal.showLoginModal()
      .then(function () {
        return $http(response.config);
    });

h3 4. Vyzkoušejte chování modálního okna

ul
  li.task přejděte na stránku vytvoření požadavku a sledujte chování aplikace v konzoli
  li při snaze o uložení dojde k zobrazení modálního okna

ul
  li.task nejprve zadejte špatné přístupé údaje a poté se přihlašte správně,
  li při správném přihlášení je požadavek zopakován


h3 5. Reakce na zrušení přihlašování
ul
  li.task odhlašte se a pokuste se změnit stav a poté přihlašovací okno zavřít
  li změna se v modelu ihned projeví, při zrušení přihlášení však nedojde k obnovení dat.

h4 5 - obnovte záznam pomocí orderCtrl.reloadOrder_(order)
ul
  li ukládání se provádí v metodě #[strong updateOrder](#[em controllers.js]) pomocí #[strong order.$save()]
  li když se přihlašovací okno zavře, je jeho promise #[strong rejected], na toto můžeme reagovat pomocí metody #[strong .catch(callback)]
  li.task zavolejte tedy v případě rejectnutí promise #[strong vm.reloadOrder_(order)]

solution
  :highlight-js
    order.$save()
      .catch(function () {
        vm.reloadOrder_(order);
    });

h3 6. Reakce na 403 - přístup odepřen
ul
  li pokuste se o smazání řádku, ale přihlašte se jen jako uživatel
  li v consoli uvidíte chybu 403 - Forbidden

h4 6 - zobrazte modální dialog - showRejectModal
ul
  li tato chyba není zotavitelná
  li.task podívejte se v interceptoru jaká zpráva je v takovém případě odesílána
  li.task reagujte na ni v připraveném bloku #[strong .run] voláním #[strong showRejectModal()]

solution
  :highlight-js
    .run(function ($rootScope, authModal) {
      $rootScope.$on('restApi:forbidden', function () {
        return authModal.showRejectModal();
      });
    })

ul.task
  li vyzkoušejte, že pokud se pokusíte smazat záznam jako uživatel, zobrazí se chybová zpráva

h3 7. Kontrola oprávnění pro vytvoření záznamu
ul
  li nemusí dávat smysl, aby měl nepřihlášený uživatel přístup na vytvoření záznamu, zobrazme tedy přihlašovcí okno

ul.task
  li v nastavení routeru pro #[strong /create] (#[em app.js]) je připravena závislost #[strong isAuthorized]
  li dopište do výrazu s kontrolou přihlášení zobrazení modálního okna
  li využijte toho jak se vyhodnocuje operátor #[strong ||] v javascriptu, výraz bude vypadat následovně

h4 7.1 zobrazte modální okno pro přihlášení
ul
  li.task uživatel je přihlášen - #[strong authService.isAuthenticated()] nebo se musí přihlásit - #[strong authModal.showLoginModal()]

solution
  :highlight-js
    isAuthorized: function (authService, authModal) {
      return authService.isAuthenticated() || authModal.showLoginModal();
    }

ul
  li nyní se při přístupu na routu /create zobrazí modální okno
  li.task vyzkoušejte, že se nepřihlášený uživatel na stránku odkazem nedostane

h4 7.2 reagujte na zprávu $routeChangeError
ul
  li v adresním řádku však url routy zůstává, a při obnovení zůstane nepřihlášený uživatel na prázdné stránce
  li.task router při chybě posílá zprávu #[strong $routeChangeError], reagujte na ni v sekci #[strong .run] (#[em app.js])

solution
  :highlight-js
    .run(function ($rootScope, $location) {
      $rootScope.$on('$routeChangeError', function () {
        $location.path('/');
      });
    })

ul
  li vyzkoušejte, že po přístupu na #[strong /create] bude uživatel, který se nepřihlásí přesměrován na #[strong /]

h2 EXTRA - Vylepšení aplikace

h3 8. Reakce direktiv na zpráv místo $watch
h4 8.1 odešlete zprávu login:changedState
ul
  li jediný okamžik, kdy se může změnit stav autentizace je moment přihlášení a odhlášení, není třeba mít watch na uživatele
  li.task odešlete zprávu #[strong login:changedState] v místě přihlášení(#[strong checkLoginResponse_]) a odhlášení(#[strong logout]) v #[strong authService]

solution
  :highlight-js
    $rootScope.$broadcast("login:changedState");

h4 8.2 změňte watch na reakci na zprávu "login:changedState"
ul
  li.task změňte v direktive #[strong authIsAuthenticated] kontrolu pomocí $watch na čekání na zprávu #[strong login:changedState]

solution
  :highlight-js
    scope.$on("login:changedState", function() {
      element.toggleClass("ng-hide", !authService.isAuthenticated());
    });

h3 9. Posílání tokenu interceptorem
ul
  li nyní nastavujeme token při přihlášení a odhlášení rovnou do hlaviček, vhodnější je použít interceptor
  li interceptor reagující na request může upravit jeho konfiguraci

h4 9.1 odstraňte nastavení hlavičky
ul
  li.task odstraňte v #[strong authService] řádek modifikující hlavičky v místě přihlášení i odhlášení

h4 9.2 přidejte tokenInterceptor
ul
  li.task v #[em app.js] přidejte připravený interceptor #[strong tokenInterceptor]

solution
  :highlight-js
    $httpProvider.interceptors.push('tokenInterceptor');

h4 9.3 do hlavičky X-Auth-Token zapište token
ul
  li v interceptoru přidejte mezi hlavičky #[strong config.headers] hlavičku #[strong X-Auth-Token] a přiřaďte do ní token získaný z #[strong authService]

solution
  :highlight-js
    config.headers['X-Auth-Token'] = authService.getToken();

h3 10 Vyzkoušejte chování aplikace a pozorujte reakce v konzoli
